mixin feedback
  section.feedback
    .feedback__title 
      | ПОМОГИТЕ
      br
      | НАМ СТАТЬ ЛУЧШЕ
    .feedback__semi-title Удобно&nbsp;ли вам совершать покупки через наш Онлайн-Каталог?
    .feedback__wrapper
      button.feedback__button(href="#") Да, легко найти товары
      button.feedback__button(href="#") В магазине удобнее
      button.feedback__button(href="#") Пользуюсь поиском на сайте
    img.feedback__question(src="img/question.png", alt="Помогите")