mixin feedback
  section.feedback
    .feedback__title 
      | ПОМОГИТЕ
      br
      | НАМ СТАТЬ ЛУЧШЕ
    .feedback__semi-title Удобно&nbsp;ли вам совершать покупки через наш Онлайн-Каталог?
    .feedback__wrapper
      button(href="#").feedback__button Да, легко найти товары
      button(href="#").feedback__button В магазине удобнее
      button(href="#").feedback__button Пользуюсь поиском на сайте
    img(src="img/question.png", alt="").feedback__question