.news {
  margin-bottom: rem(40px);

  &__title {
    @include text-main(700);
    display: inline-block;
    margin-bottom: rem(23px);
    position: relative;

    &::before {
      @include size(100%, rem(2px));
      content: '';
      position: absolute;
      bottom: -3px;
      border-radius: 10px;
      background-color: $color-green;
    }
  }

  &__wrapper {
    display: flex;
    gap: rem(9px);
    overflow-x: auto;
    margin: 0 rem(-8px);
    padding: 0 rem(8px) rem(18px);
  }

  &__item {
    width: rem(135px);
    flex-shrink: 0;
    color: $color-text;
    text-decoration: none;
    
    @media screen and (min-width: $screen-md) {
      flex: 1;
    }

    &:hover {
      .news__name {
        color: $color-green-dark;
      }

      .news__more {
        opacity: 1;
      }
    }
  }

  &__img-wrapper {
    border-radius: 10px;
    height: rem(98px);
    margin-bottom: rem(14px);
    overflow: hidden;
    text-align: center;

    @media screen and (min-width: $screen-md) {
      height: auto;
    }

    @media screen and (min-width: $screen-xl) {
      margin-bottom: rem(26px);
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__name {
    @include text-main(700);
    margin-bottom: rem(9px);
    transition: color 0.3s;

    @media screen and (min-width: $screen-xl) {
      @include text-large(700);
      margin-bottom: rem(13px);
    }
  }

  &__text {
    display: none;

    @media screen and (min-width: $screen-xl) {
      @include text-main;
      display: block;
      position: relative;
      height: rem(90px);
      overflow: hidden;
      opacity: 0.7;
      margin-bottom: rem(16px);

      &::after {
        @include size(100%, rem(60px));
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }

  &__more {
    @include text-main;
    text-decoration: underline;
    opacity: 0.5;
    transition: opacity 0.3s;
  }
}