mixin dignity
  -
    const dignity = [
      {
        img: 'quality',
        title: 'Качество продукции',
        text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных'
      },
      {
        img: 'order',
        title: 'Легкий онлайн заказ',
        text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных'
      },
      {
        img: 'delivery',
        title: 'Доставка до двери',
        text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных'
      },
      {
        img: 'choice',
        title: 'Выбор покупателей',
        text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных'
      }
    ]

  .dignity
    each item in dignity
      .dignity__item
        img(src=`img/${item.img}.svg`, alt=item.title).dignity__icon
        span.dignity__title!=item.title
        span.dignity__text!=item.text