.basket {
  display: none;

  @media screen and (min-width: $screen-xl) {
    @include flex-column;
    @include size(100%, calc(100vh - 116px));
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: $color-gray;
    position: sticky;
    top: rem(116px);
  }

  &__wrapper {
    @include flex-center;
    flex-direction: column;
    padding: rem(12px) rem(10px) rem(10px);
    background-color: $color-white;
    width: 100%;
    
    &--top {
      border-radius: 0 0 10px 10px;
    }

    &--bottom {
      border-radius: 10px 10px 0 0;
    }
  }

  &__empty-wrapper {
    @include flex-column;
    align-items: center;
    padding-top: rem(45px);
  }

  &__body {
    padding: rem(8px) rem(6px);
    height: 100%;
  }

  &__text {
    @include text-large;

    &--bold {
      font-weight: 700;
    }
  }

  &__thin-text {
    @include text-main;
    text-align: center;
    opacity: 0.3;
    margin-bottom: rem(36px);
  }

  &__empty-img {
    margin-bottom: rem(19px);
  }

  &__empty-text {
    @include text-large(700);
    opacity: 0.3;
    margin-bottom: rem(46px);
  }

  &__catalog-link {
    @include flex-center;
    @include text-large(700);
    @include size(100%, rem(45px));
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: rem(10px);
  }

  &__last-link {
    @include text-main;
    text-decoration: underline;
    opacity: 0.7;
    margin-bottom: rem(7px);
  }

  &__price {
    @include flex-between-center;
    width: 100%;
    margin-bottom: rem(10px);
  }

  &__confirm {
    @include flex-between-center;
    @include text-main(700);
    width: 100%;
    background-color: $color-green;
    border-radius: 10px;
    padding: 0 rem(8px);
    height: rem(40px);
  }
}