mixin basket
  aside.basket 
    .basket__wrapper.basket__wrapper--top
      span.basket__text Здравствуйте, 
      span.basket__text.basket__text--bold Михаил!
    .basket__body
      .basket__empty-wrapper
        img.basket__empty-img(src="img/empty.svg", alt="Пустая корзина")
        span.basket__empty-text Ваша корзина пуста
        a.basket__catalog-link(href="#") Перейти в каталог
        span.basket__thin-text Выбирайте из более чем 1000 свежих товаров!
        a.basket__last-link(href="#") Повторить прошлый заказ
        span.basket__thin-text Вы можете быстро добавить в корзину ваши предыдущие покупки
    .basket__wrapper.basket__wrapper--bottom
      .basket__price
        span.basket__text Итого, руб:
        span.basket__text.basket__text--bold 120,85
      a.basket__confirm(href="#")
        img(src="img/basket-coint.svg", alt="Корзина", width="32", height="28")
        span Подтвердить заказ