extends ../pug/layout.pug

block main
  +header
  +menu
  .wrapper
     .basket
        h1.basket__title Товары в корзине
        .basket__wrapper
          //- .basket__item
          //-   .basket__img-wrapper
          //-     img.basket__img(src="img/test-item.png", alt="")
          //-   .basket__name Макаронные изделия Макфа Триколлини свитки
          //-   .basket__control
          //-     img.basket__remove(src="img/close-item.svg", alt="", width="8")
          //-     img(src="img/fav-item.svg", alt="", width="14")
          //-   .basket__bju
          //-     span.basket__energy
          //-       span.basket__energy--gray Б 
          //-       | 2.5 г
          //-     span.basket__energy
          //-       span.basket__energy--gray Ж 
          //-       | 20 г
          //-     span.basket__energy
          //-       span.basket__energy--gray У 
          //-       | 2.9 г
          //-   .basket__price
          //-     span.basket__price-value 120 руб.
          //-   .basket__count
          //-     span.basket__count-button.basket__count-button--decr -
          //-     span.basket__count-value 1
          //-     span.basket__count-button.basket__count-button--incr +
        .bastet__result 0
  +footer