extends ../pug/layout.pug

block main
  +header
  .wrapper.wrapper--main
    .wrapper__content
      +main-banner
      +dignity
      +news
      +products('Акционные товары', 'yellow', 'promotional__swipper', 'promotional')
      +reviews
      +products('Новинки', 'mint', 'news__swipper', 'news')
      +products('Выбор вегана', 'green', 'vegan__swipper', 'vegan')
      +products('Популярные товары', 'orange', 'popular__swipper', 'popular')
      +feedback
      +menu
    +aside-basket
  +footer