extends ../pug/layout.pug

block main
  +header
  .wrapper
    .wrapper__content
      +dignity
      +news
      +products('Акционные товары', 'yellow', 'promotional__swipper')
      +reviews
      +products('Новинки', 'mint', 'news__swipper')
      +products('Выбор вегана', 'green', 'vegan__swipper')
      +products('Популярные товары', 'orange', 'popular__swipper')
      +feedback
      +menu
//- block append head
//-   link(rel='stylesheet', href='css/some.css')