mixin menu
  -
    const menu = [
      {
        icon: 'groceries',
        name: 'Акционные товары',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'chef',
        name: 'Собственное производство',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'flour',
        name: 'Бакалея',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'steak',
        name: 'Мясо и рыба',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'milk',
        name: 'Молочные продукты',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'salad',
        name: 'Фрукты, овощи',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'dumpling',
        name: 'Замороженные продукты',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'water',
        name: 'Вода, напитки, соки',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'toast',
        name: 'Хлеб, кондитерские изделия',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'tea',
        name: 'Чай, кофе',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'grain',
        name: 'Здоровое питание',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'gingerbread',
        name: 'Детское питание',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'cooking',
        name: 'Товары восточной кухни',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'condiment',
        name: 'Бытовая химия, хозтовары',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      },
      {
        icon: 'track',
        name: 'Зоотовары',
        submenu: ['Молоко', 'Сливки', 'Кисломолочная продукция', 'Йогурты и йогуртные продукты', 'Творог и творожные изделия', 'Сметана', 'Сыры', 'Яйцо', 'Мороженое']
      }
    ]
  
  .menu
    ul.menu__list
      .menu__title Выберите категорию
      each item in menu
        li.menu__item
          img(src=`img/${item.icon}.svg`, alt=item.name).menu__icon
          .menu__name!=item.name
        .menu__submenu-wrapper
          .menu__subtitle!=item.name
          .menu__link-wrapper
            each subitem in item.submenu
              a(href="#").menu__link!=subitem
  .menu__dark-wrapper
