@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-weight: 400;
	font-style: normal;
	src:  url('../fonts/Montserrat-Regular.woff2') format('woff2'),
				url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('eot');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-weight: 500;
	font-style: normal;
	src:  url('../fonts/Montserrat-Medium.woff2') format('woff2'),
				url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('eot');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-weight: 600;
	font-style: normal;
	src:  url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
				url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('eot');
}

@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-weight: 700;
	font-style: normal;
	src:  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
				url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('eot');
}