*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

a {
	color: $color-text;
	text-decoration: none;
}

button {
	border: none;
}

html {
	font-family: $font-family;
	line-height: 1;
	// -webkit-tap-highlight-color: rgba(var(--color_black), 0);
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: $color-white;
	color: $color-text;
	line-height: 1;
}

[tabindex='-1']:focus:not(:focus-visible) {
	outline: 0;
}

[hidden] {
	display: none;
}
