.wrapper {
  max-width: rem(1316px);
  margin: 0 auto;
  padding: 0 rem(8px);
  width: 100%;

  @media screen and (min-width: $screen-xl) {
    display: flex;
    position: relative;
    padding: 0 rem(35px);
  }

  &__content {
    padding: rem(88px) 0;

    @media screen and (min-width: $screen-xl) {
      max-width: rem(1027px);
      width: 100%;
      padding: rem(128px) rem(20px) 0 0;
    }
  }
}