.header {
  @include small-shadow;
  position: fixed;
  top: 0;
  background-color: $color-white;
  width: 100%;
  z-index: 10;

  @media screen and (min-width: $screen-xl) {
    flex-direction: column;
    border-bottom-left-radius: 50px;
  }

  &__head {
    display: none;

    @media screen and (min-width: $screen-xl) {
      @include flex-between-center;
      @include size(100%, rem(43px));
      background-color: $color-brown;
      padding: rem(14px) rem(25px) rem(14px) rem(194px);
    }
  }

  &__links {
    display: flex;
    gap: rem(40px);
  }

  &__link {
    @include text-main(500);
    color: $color-white;
    transition: color 0.3s;

    &:last-child {
      color: $color-green;
    }

    &:hover {
      color: $color-green-dark;
    }
  }

  &__info {
    display: flex;
    gap: rem(42px);
  }

  &__info-item {
    @include text-large(700);
    color: $color-white;
    padding-left: rem(28px);
    position: relative;

    &::before {
      @include size(rem(14px), rem(14px));
      background-size: contain;
      background-position-y: 50%;
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      left: 0;
    }

    &--phone::before {
      background-image: url('../img/phone.svg');
    }

    &--mark::before {
      background-image: url('../img/mark.svg');
    }

    &--clock {
      padding-right: rem(24px);

      &::before {
        background-image: url('../img/clock.svg');
      }

      &::after {
        @include size(rem(10px), rem(14px));
        background-image: url('../img/arrow-down.svg');
        background-size: contain;
        background-position-y: 50%;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        right: 0;
      }
    }
  }

  &__body {
    @include flex-between-center;
    padding: 0 rem(9px) 0 rem(13px);
    height: rem(60px);

    @media screen and (min-width: $screen-xl) {
      height: rem(74px);
      padding: 0 rem(25px) 0 rem(160px);
      justify-content: flex-start;
      gap: rem(25px);
    }
  }

  &__wrapper {
    display: flex;
    gap: rem(16px);

    @media screen and (min-width: $screen-xl) {
      gap: rem(20px);
    }

    &--mob {
      @media screen and (min-width: $screen-xl) {
        display: none;
      }
    }

    &--desc {
      display: none;

      @media screen and (min-width: $screen-xl) {
        display: flex;
        width: 100%;
        gap: rem(15px);
      }
    }
  }

  &__burger {
    cursor: pointer;
  }

  &__persent {
    @include flex-center;
    @include size(rem(31px), rem(31px));
    @include font(20px, 24px, 700);
    border-radius: 5px;
    background-color: $color-yellow;
  }

  &__logo-wrapper {
    @include flex-center;
    @include small-shadow;
    @include size(rem(135px), rem(135px));
    background-color: $color-white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: rem(-18px);
    transform: translateX(-50%);
    padding-top: rem(34px);

    @media screen and (min-width: $screen-xl) {
      @include size(rem(193px), rem(193px));
      left: rem(-46px);
      bottom: 0;
      transform: none;
      padding: rem(78px) 0 0 rem(30px);
    }
  }

  &__logo {
    @include size(rem(107px), rem(71px));
  }

  &__menu {
    display: none;

    @media screen and (min-width: $screen-xl) {
      @include flex-center;
      @include  text-large(700);
      background-color: $color-green;
      border-radius: 10px;
      gap: rem(15px);
      padding: rem(14px) rem(18px);
      cursor: pointer;

      &:hover {
        filter: brightness(1);
      }
    }
  }

  &__search {
    @include  text-large;
    display: block;
    width: 100%;
    background-color: $color-gray;
    border: none;
    border-radius: 10px;
    padding: rem(14px) rem(18px);
  }

  &__discounts {
    @include  text-large(700);
    padding: rem(14px) rem(26px) rem(14px) rem(54px);
    position: relative;
    cursor: pointer;

    &::before {
      @include size(rem(45px), rem(45px));
      @include font(20, 24px, 700);
      @include flex-center;
      content: '%';
      background-color: $color-yellow;
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      @include size(rem(18px), rem(18px));
      background-image: url('../img/yellow-arrow.svg');
      background-size: contain;
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__personal-link {
    @media screen and (min-width: $screen-xl) {
      @include flex-center;
      @include text-large(700);
      gap: rem(10px);
      height: rem(30px);
      transition: color 0.3s;

      & img {
        height: 20px;
      }

      &:hover {
        color: $color-green-dark;
      }
    }
  
    & span {
      display: none;

      @media screen and (min-width: $screen-xl) {
        display: inline;
      }
    }
  }
} 