mixin header
  -
    const links = [
      {
        name: 'Шеф-лайм',
        link: '#',
      },
      {
        name: 'Вакансии',
        link: '#',
      },
      {
        name: 'Вопрос-ответ',
        link: '#',
      },
      {
        name: 'Бонусная программа',
        link: '#',
      }
    ]

  header.header
    .header__logo-wrapper
      img.header__logo(src="img/logo.svg", alt="Лайм Фреш Маркет")
    .header__head
      .header__info
        span.header__info-item.header__info-item--phone 7756
        span.header__info-item.header__info-item--mark Зона доставки
        span.header__info-item.header__info-item--clock 17:00 - 17:45
      nav.header__links
        each item in links
          a.header__link(href=item.link)!=item.name
    .header__body
      .header__wrapper.header__wrapper--desc
        button.header__menu
          img(src="img/button-menu.svg", alt="menu", width="22", height="16")
          span Каталог
        input.header__search(type="text" placeholder="Купить молоко")
        .header__discounts Скидки
      .header__wrapper.header__wrapper--mob
        img.header__burger(src="img/menu.svg", alt="Меню")
        .header__persent %
      .header__wrapper
        a.header__personal-link(href="#")
          img(src="img/profile.svg", alt="Профиль", width="16", height="20")
          span Кабинет
        a.header__personal-link(href="#")
          img(src="img/favorite.svg", alt="Избранное", width="20", height="18")
          span Избранное
        a.header__personal-link(href="#")
          img(src="img/basket.svg", alt="Корзина", width="20", height="20")
          span Корзина
        